* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
}

body {
  background-color: #290303;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  width: 900px;
  background-color: #e2e9e1;
  border-radius: 1rem;
  box-shadow: 0px 0px 1px black;
}

.form-container {
  display: flex;
  padding: 1rem;
  gap: 2rem;
}

.gradient,
.next-stp {
  background: linear-gradient(300deg, #dc143c, #d74545, #800000);
  background-size: 200% 200%;
  animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-sidebar {
  background-color: blueviolet;
  width: 400px;
  height: 568px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.circle {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.nametag {
  color: #fff;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
}

.active .circle {
  background-color: #fff !important;
  color: #800000 !important;
  transition: background-color 0.3s ease;
}
.err {
  border: 2px solid red !important;
}
.step {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.step-content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.step-content span {
  text-transform: uppercase;
  color: #e2e9e1;
  font-size: 13px;
}
.step-content b {
  text-transform: uppercase;
  color: #fff;
}
.stp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stp .header {
  margin-bottom: auto;
  padding-top: 1.5rem;
  line-height: 2rem;
}

.header .title {
  color: #dc143c;
}
.header .exp {
  color: rgb(132, 129, 129);
  font-weight: 500;
}

.exp a {
  font-weight: 700;
}
.next-stp {
  margin-top: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  border: none;
  padding: 1rem 2rem;
  border-radius: 7px;
  background-color: #8b0000;
  color: #fff;
  font-weight: 700;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.step-3 .btns .next-stp,
.step-3 .btns .prev-stp {
  margin-bottom: 0.5rem;
}

.next-stp:hover {
  transform: translateY(-6px);
}

.label {
  color: #dc143c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  gap: 7.5rem;
}

.step-1 {
  display: flex;
  width: 90%;
}

.step-1 form {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 2rem;
}

.plan-card {
  border: 2px solid rgba(220, 20, 60, 1);
  border-radius: 7px;
  width: 150px;
  height: 170px;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plan-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.selected {
  border: 2px solid rgba(220, 20, 60, 1);
  background-color: rgba(218, 85, 112, 1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.selected b {
  color: #fff !important;
}

.plan-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.plan-info b {
  color: #dc143c;
  padding-left: 0px;
  padding-top: 10px;
}

.plan-info span {
  display: none;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 0px;
}

.prev-stp {
  margin-top: auto;
  margin-bottom: 2rem;
  border: 1px solid #8b0000;
  font-weight: 700;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 7px;
  color: grey;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.prev-stp:hover {
  background: linear-gradient(300deg, #dc143c, #d74545, #800000);
  color: white;
  transform: translateY(-6px);
}

.step-2 {
  display: none;
  width: 80%;
}

.step-2 form {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  gap: 1rem;
}

#form-layout {
  max-width: 520px !important;
  max-height: 350px !important;
  overflow-y: auto;
}

#form-layout::-webkit-scrollbar {
  width: 10px;
}

#form-layout::-webkit-scrollbar-thumb {
  background: linear-gradient(300deg, #dc143c, #d74545, #800000);
  border-radius: 5px;
}

#form-layout::-webkit-scrollbar-track {
  background: #e2e9e1;
}

#form-layout form {
  margin-bottom: 25px;
  padding-right: 7px;
}
.divider {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #b7c3b7;

  text-align: center;
  margin: 10px 0;
}

.shrink {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step-2 form input {
  padding: 0.7rem;
  border: 1px solid #e2e9e1;
  border-radius: 7px;
  font-weight: 500;
  font-size: 0.8em;
}

.step-2 form input:focus {
  outline-color: #8b0000;
}

form input::placeholder {
  font-weight: 500;
  font-size: 0.9rem;
  font-family: inherit;
}

.form .error {
  display: none;
  color: red;
  font-size: 0.8rem;
  font-weight: 700;
}

.step-3 {
  display: none;
  width: 80%;
}

.selection-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.selection-container {
  background-color: #8b0000;
  padding: 1.5rem;
}

.step-4 {
  display: none;
  width: 90%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 50px auto auto auto;
}

.step-4 .exp {
  padding-top: 10px;
  line-height: normal;
}

.step-4 img {
  height: 290px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-4 button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button .refresh-stp {
  padding: 3px 2rem !important;
  margin-top: 10px !important;
  margin-bottom: 1rem !important;
}

.home-button .refresh {
  filter: invert(1);
  height: 32px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

#cart {
  max-width: 540px;
  max-height: 275px;
  padding-bottom: 275px;
  overflow-x: scroll;
  overflow-y: scroll;
  margin-bottom: 5px;
}

#cart table {
  border-collapse: collapse !important;
  table-layout: fixed !important;
  white-space: nowrap !important;
}

#cart table td:nth-child(1),
#cart table td:nth-child(2) {
  width: 200px;
  text-align: center;
  padding: 10px;
}

#cart table td:nth-child(3),
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6),
#cart table td:nth-child(7) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(6) {
  width: 100px;
  text-align: center;
}

#cart table thead {
  border: 1px solid #b7c3b7;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
  color: #dc143c;
}

#cart table tbody tr td {
  padding-top: 5px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#cart::-webkit-scrollbar-thumb {
  background: linear-gradient(300deg, #dc143c, #d74545, #800000);
  border-radius: 5px;
}

#cart::-webkit-scrollbar-track {
  background: #e2e9e1;
}
#cart::-webkit-scrollbar-corner {
  display: none;
  background: transparent;
}

.short-ph {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #800000;
}

.short-ph span {
  font-weight: 500;
}

.short-ph .tooltip {
  display: block;
  opacity: 0;
  background-color: rgba(218, 85, 112, 1);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  width: 145px;
  top: calc(100% + 10px);
  left: 50%;
  margin-left: -70px;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.short-ph .tooltip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -7px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent rgba(218, 85, 112, 1) transparent;
}

.short-ph:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

#add-total {
  width: 540px;
  height: 130px;
  border: 1px solid #b7c3b7;
  padding: 7px;
}
#add-total h3 {
  margin-bottom: 5px;
}
#add-total table tbody td {
  font-size: 15px;
}

.totales-table {
  border-collapse: collapse;
  border: 1px solid #b7c3b7;
}
#add-total table td {
  border: 1px solid #b7c3b7;
}

#add-total table tr td:nth-child(1) {
  width: 27%;
  text-align: left;
  padding: 10px;
}

#add-total table tr td:nth-child(2) {
  width: 27%;
  text-align: right;
  padding: 10px;
}

#add-total strong {
  color: #dc143c;
}

@media screen and (max-width: 800px) {
  /* //AAAAAAAAAAAAAAAAAAA */
}
