@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

body {
  overflow-x: hidden;
}

/* Scrolling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/*-------------header----------*/

header {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 996;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: transparent;
  padding: 20px 6%;
  transition: all 0.35s ease;
}

.store {
  margin-bottom: 20rem;
}

header.sticky {
  background: hsl(0 0% 100% / 0.75);
  backdrop-filter: blur(1rem);
  padding: 14px 6%;
  box-shadow: 0 0 4px rgb(94, 94, 101);
  transition: all 0.3s ease;
}

.logo {
  width: 210px;
  height: 55px;
  margin-right: -100px;
}

.navlist {
  display: flex;
  margin-top: 12px;
}

.navlist a {
  color: #000;
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 5px;
  font-size: 18px;
  transition: all 0.36s ease;
  text-decoration: none;
}

.navlist a:hover {
  background: #000;
  color: #fff;
}

.header-icons a,
.header-icons #cart-icon {
  font-size: 27px;
  color: #000;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.36s ease;
}

.header-icons iconify-icon:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 8px #3a3a3a);
}

#menu-icon {
  font-size: 30px;
  color: #000;
  z-index: 1000;
  margin-top: 1.5px;
  margin-right: 20px;
  display: none;
}

/* ---------Home Page------ */

#hero {
  padding-top: 8rem;
}

.home-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 19px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "one two four"
    "one two four-low";
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 31rem;
  margin-top: 1.3rem;
  grid-gap: 1.3rem;
  gap: 1.3rem;
}

.featured {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.lil-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in;
  border-radius: 8px;
}

.main-description {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.featured img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 8px;
}

#img1:hover,
#img2:hover,
#img3:hover,
#img4:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.grid-one {
  grid-area: one;
}

.grid-two {
  grid-area: two;
}

.grid-four {
  grid-area: four;
}

.grid-four-low {
  grid-area: four-low;
}

.big-container {
  margin: 0 auto !important;
  max-width: 78rem;
  padding: 0 2rem;
}

.choose-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 2rem;
}

.choose-container h2 {
  color: #000;
  font-size: 3.5rem;
  margin-bottom: 6rem;
  text-transform: uppercase;
  font-family: "Noto Sans Georgian", sans-serif;
}

.choose-container span {
  color: #35bb78;
}

.container-content {
  display: grid;
  font-size: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
  width: 100%;
  grid-gap: 1rem;
}

.container-content-1,
.container-content-3 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.choose-box {
  background-color: hsla(0, 0%, 100%, 0.05);
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  border-radius: 7px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 1.3rem;
  width: 100%;
}

.choose-box h4 {
  font-size: 1rem;
  text-align: left;
  text-transform: uppercase;
  font-weight: 900;
}

.choose-box iconify-icon {
  align-items: center;
  background-color: #40d48a;
  color: #fff;
  border-radius: 7px;
  display: flex;
  height: 3rem;
  font-size: 22px;
  padding: 1rem;
  width: 3rem;
}

.container-content-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-content-2 img {
  width: 110%;
}

/* -----------Login ------------------ */

.container-box {
  padding-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border: 2px solid #d5d8e1;
  border-radius: 7px;
}

.register-container .title {
  display: flex;
  font-size: 35px;
  text-transform: uppercase;
  justify-content: center;
  font-weight: 700;
  position: relative;
}

.register-container .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 11rem;
  background-color: #000;
}

form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.input-box .details {
  display: block;
  font-weight: 700;
}

.input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
  border-color: #000;
}

.gender-details .gender-title {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
}

.gender-details .category {
  display: flex;
  width: 100%;
  margin: 14px -20px;
  justify-content: space-around;
}

.category label {
  display: flex;
  align-items: center;
}

.dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button span {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button span a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.button span a:hover {
  text-decoration: underline;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border: 1px solid #d9d9d9;
  background: #000;
}

form input[type="radio"] {
  display: none;
}

input[type="date"] {
  font-size: 16px;
  color: #888;
  padding: 15px;
}

form .button {
  height: 45px;
  margin: 45px 0;
}
.button input {
  height: 100%;
  width: 100%;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.15s;
}

.button input:hover {
  background: transparent;
  color: #000;
}

.container-log {
  padding-top: 7rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form input[type="password"],
#login-form input[type="text"] {
  width: 100%;
  padding: 12px 36px 12px 12px;
}

.user-container,
.password-container {
  width: 300px;
  position: relative;
  margin: 20px 0;
}
.user-container iconify-icon,
.password-container iconify-icon {
  position: absolute;
  font-size: 25px;
  top: 25%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}

.login-container {
  border: 2px solid #d5d8e1;
  width: 420px;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  padding: 70px 30px;
}

.login-container h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  position: relative;
}

.login-container h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 15rem;
  background-color: #000;
}

.user-container input,
.password-container input {
  border-radius: 7px;
  border: 1px solid #ccc;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.remember-forgot label input {
  accent-color: #000;
  margin-right: 3px;
  border: 1px solid #888;
}

.remember-forgot a,
.log-btn a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.remember-forgot a:hover,
.log-btn a:hover {
  text-decoration: underline;
}

.log-btn {
  height: 45px;
  margin: 45px 0;
}

.log-btn input {
  height: 100%;
  width: 100%;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.15s;
}

.log-btn span {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-btn input:hover {
  background: transparent;
  color: #000;
}

/* ----------------Banner Video ------------- */

.banner-1,
.banner-2 {
  padding-block: 2rem 2rem;
}

.container-vid {
  margin: 1.5rem auto;
  max-width: 1200px;
  padding: 0 19px;
}
.banner-container-reverse,
.banner-container {
  display: flex;
  height: 25rem;
  justify-content: space-between;
  overflow: hidden;
}

.text-side {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;

  justify-content: center;
  flex-direction: row;
  padding: 0 5rem;
  text-align: start;
  width: 49%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.text-side h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.text-side p {
  font-size: 1.2rem;
}
.vid-side-1,
.vid-side {
  width: 51%;
  position: relative;
  overflow: hidden;
}

.vid-side video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.vid-side-1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.text button {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  transition: all 0.15s;
}

.text button:hover {
  background: transparent;
  color: #000;
}

.banner-container-reverse {
  flex-direction: row-reverse;
}

/* -----------Nosotros------------ */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-inline: 115px;
  padding-bottom: 0;
}

.about {
  background: url(/assets/images/about-banner.jpg) no-repeat left;
  background-size: 55%;
  overflow: hidden;
  padding: 100px 0;
}

.inner-section {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 100px;
  box-shadow: 10px 9px 6px rgba(0, 0, 0, 0.3);
}
.reverse-inner-section h1,
.inner-section h1 {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 900;
}

.rev-ab-text,
.ab-text {
  font-size: 14px;
  color: #000;
  line-height: 30px;
  margin-bottom: 40px;
}
.reverse-inner-section span,
.inner-section span {
  color: #35bb78;
}

.reverse-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-inline: 115px;
  padding-bottom: 0;
}

.reverse-about {
  background: url(/assets/images/about-banner-3.jpg) no-repeat right;
  background-size: 55%;
  overflow: hidden;
  padding: 100px 0;
}

.reverse-inner-section {
  width: 55%;
  float: left;
  background-color: #fdfdfd;
  padding: 100px;
  box-shadow: 10px 9px 6px rgba(0, 0, 0, 0.3);
}

/* -------- About us 2 ----------- */

.ab-row {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1em;
  text-align: center;
}

.column {
  width: 100%;
  padding: 0.5em 0;
}

.ab-row h1 {
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 3.5em;
  color: #000;
}

.ab-row span {
  color: #35bb78;
}

.ab-card {
  box-shadow: 0 0 2.2em rgba(53, 187, 120, 0.5);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #35bb78;
  cursor: pointer;
  transition: 0.3s ease;
}

.ab-card .img-container {
  width: 8em;
  height: 8em;
  background-color: #4ecb8d;
  padding: 0.3em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
  transition: 0.3s ease;
}

.ab-card img {
  width: 100%;
  border-radius: 50%;
}

.ab-card h3 {
  font-weight: 500;
}

.ab-card p {
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.2em 0 2em 0;
  letter-spacing: 2px;
}

.ab-icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.ab-card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}

.ab-card:hover {
  background: linear-gradient(#35bb78, #40d48a);
  color: #fff;
}

.ab-card:hover .img-container {
  transform: scale(1.15);
}

@media (min-width: 768px) {
  .team {
    padding: 1em 7em;
  }
}

@media (min-width: 990px) {
  .team {
    padding: 1em;
  }
  .ab-card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 25%;
    padding: 18px 1em;
  }
}

/* -----------Contacto------------ */

.contact-box {
  width: 100%;
  overflow: hidden;
  padding-top: 6rem;
}

.contact-box .contact-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.contact-box .contact-container > div {
  grid-column: 1/2;
  grid-row: 1/2;
}

.left {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem 0;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  z-index: 10;
}

.contact-head h1 {
  font-weight: bolder;
  color: #000;
  font-size: 3.5rem;
  line-height: 0.9;
  white-space: nowrap;
  margin-bottom: 1.2rem;
}

.contact-head h1 span {
  color: #40d48a;
}

.contact-text {
  color: #b5b7bf;
  line-height: 1.1;
  font-size: 1.1rem;
  margin-left: 15px;
}

.contact-text a {
  text-decoration: none;
  color: #40d48a;
  transition: 0.3s;
}

.contact-text a:hover {
  text-decoration: none;
  color: #35bb78;
  transition: 0.3s;
}

.form-wrapper {
  max-width: 32rem;
}

.contact-form {
  display: grid;
  margin-top: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}

.input-wrap {
  position: relative;
}

.input-wrap.w--100 {
  grid-column: span 2;
}

.contact-input {
  width: 100%;
  padding: 1.5rem 1.35rem calc(0.75rem - 5px) 1.35rem;
  border: none;
  border-radius: 7px;
  outline: none;
  font-weight: 600;
  font-size: 0.95rem;
  border: 2px solid #ccc;
  transition: 0.3s ease;
}

.contact-input:hover {
  background-color: rgb(245, 245, 245);
}

.input-wrap label {
  position: absolute;
  top: 50%;
  left: calc(1.35rem + 2px);
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
  transition: 0.3s;
}

.input-wrap iconify-icon {
  position: absolute;
  right: calc(1.35rem + 2px);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #ccc;
  font-size: 1.25rem;
  transition: 0.3s;
}
textarea.contact-input {
  resize: none;
  width: 100%;
  min-height: 150px;
}

textarea.contact-input ~ label {
  top: 1.2rem;
  transform: none;
}

textarea.contact-input ~ iconify-icon {
  top: 1.3rem;
  transform: none;
}

.input-wrap.focus .contact-input {
  background-color: #fff;
  border: 2px solid #35bb78;
}

.input-wrap.focus label {
  color: #40d48a;
}

.input-wrap.focus iconify-icon {
  color: #40d48a;
}

.input-wrap.not-empty label {
  font-size: 0.66rem;
  top: 0.75rem;
  transform: translateY(0);
}

.contact-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  grid-column: span 2;
}

.ct-btn-l {
  display: inline-block;
  padding: 1.1rem 2rem;
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.ct-btn-l:hover {
  background: #000;
  color: #fff;
}

.ct-btn-r {
  display: inline-block;
  padding: 1.1rem 2rem;
  background-color: #40d48a;
  color: #fff;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.ct-btn-r:hover {
  background: transparent;
  border: 2px solid #35bb78;
  color: #35bb78;
}

.ct-btn-l.upload {
  position: relative;
}

.ct-btn-l.upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  cursor: pointer;
  opacity: 0;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.image-wrapper {
  position: relative;
  grid-column: 2;
}

.image-wrapper iframe {
  position: absolute;
  top: 18%;
  left: 3%;
  cursor: pointer;
  z-index: 11;
}

/* -----------Foooter------------ */

.footer {
  display: flex;
  margin-top: 10px;
  padding-top: 80px;
  padding-bottom: 13px;
  background-color: #161616;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #888;
  font-size: 1rem;
}

.footer a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.footer p a {
  color: #35bb78;
  transition: color 0.2s ease;
}

.footer p a:hover {
  color: #40d48a;
}

.footer h3,
.footer h4,
.footer h5 {
  color: #fff;
  margin-bottom: 24px;
  font-weight: 600;
}

.footer p {
  color: #fff;
}

.footer-menu {
  position: relative;
  padding-left: 0;
  list-style: none;
}

.footer-menu li a {
  display: flex;
}

.footer-menu p {
  padding-left: 15px;
  transition: transform 0.3s ease;
}

.footer-menu iconify-icon,
.footer-link iconify-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.footer-menu li {
  margin-bottom: 12px;
}

.footer-link {
  display: flex;
}

.footer-link p {
  padding-left: 11px;
}

.footer-menu a,
.footer-link {
  color: #fff !important;
}

.footer-menu p:hover,
.footer-menu iconify-icon:hover {
  transform: scale(1.1);
  color: #35bb78;
}

.socials-btn {
  display: flex;
  justify-content: center;
  width: 270px;
}

.socials-btn a {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  transition: all 0.2s linear;
}

.socials-btn a:hover {
  background-color: #35bb78;
  color: #fff;
  text-decoration: none;
  transform: rotate(360deg);
}

.phone iconify-icon {
  padding-right: 5px;
  font-size: 15px;
}

.form-control {
  padding: 8px 15px;
  height: calc(1.5rem + 1.375rem + 2px);
  border-color: #d5d8e1;
}
.btn {
  padding: 9px 24px !important;
}

.btn-block {
  display: block;
  width: 100%;
}

.foot-img img {
  width: 240px;
  height: 70px;
  filter: invert(1);
}

#copyright {
  padding-top: 10px;
}

/* ------------Store----------- */

.catego-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
}

.title-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
}

.title-home h3 {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.filter-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.filter-btns button {
  background-color: initial;
  border: 2px solid rgb(94, 94, 101);
  cursor: pointer;
  padding: 0.6rem 1.6rem;
  transition: all 0.2s;
}

.filter-btns button:hover {
  background-color: #000;
  color: #fff;
}

.cat-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 19px;
}

.product-container {
  padding: 5rem 0;
}

.product-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.product-card {
  cursor: pointer;
  outline: 2px solid rgba(0, 0, 0, 0.205);
  outline-offset: -2px;
  transition: all 0.15s ease-in;
  border-radius: 7px;
}

.product-card:hover {
  outline: 2px solid rgba(0, 0, 0, 0.8);
}

.product-header img {
  width: 100%;
  height: 220px;
  padding: 16px;
}

.product-details {
  font-size: 0.7rem;
  padding: 1rem;
  font-weight: 600;
}

.product-details a {
  color: #000;
  text-decoration: none;
}

.prod-title {
  margin-top: 8.5rem;
  margin-inline: auto;
  margin-bottom: -3.5rem;
  max-width: 1200px;
  padding: 0 19px;
}
.prod-title h2 {
  font-weight: 900;
}

.item-price {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.cart-btn button {
  width: 50%;
  height: 2.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  line-height: 11px;
}

.cart-btn iconify-icon {
  font-size: 15px;
  text-align: center;
}

.cart-btn button:hover {
  background-color: transparent;
  color: #000;
}

/* ------------------Cart-------------- */

.cart-div {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  padding: 1.5rem 1rem 1rem 1.5rem;
  background-color: #fff;
  height: 100vh;
  width: 30rem;
  transition: all 0.4s ease;
  box-shadow: -12px 14px 10px rgba(0, 0, 0, 0.2);
}

.page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000075;
  z-index: 998;
  transition: all 0.3s ease-in;
}

.cart-title-btn {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-full-h2 {
  font-size: 1.9rem !important;
  font-weight: bolder;
}

.cart-title-btn .bx {
  font-size: 2.5rem;
  cursor: pointer;
}

.cart-body {
  height: 100vh;
  padding: 0.5rem;
}

/* .empty-cart {
} */

.open-flex {
  display: flex !important;
}

.closed-flex {
  display: none !important;
}

.closed-cart {
  right: -100%;
  transition: 0.3s ease;
}

.open-cart {
  right: 0;
  transition: 0.3s ease;
}

.full-cart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.full-cart-div {
  overflow-y: scroll;
  padding: 5px;
  height: 65%;
  margin-top: 1rem;
  margin-right: -0.5rem;
}

.cart-item {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 40fr 50fr 30fr;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f2f2f2;
}

.cart-img {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.cart-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.cart-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.cart-btns {
  display: flex;
  margin-bottom: -22px;
}

.cart-btns button {
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border: none;
}

.cart-btns p {
  font-size: 1.3rem;
  outline: 2px solid #000;
  outline-offset: -2px;
  width: 2rem;
  text-align: center;
  padding-top: 1px;
}

.cart-name {
  font-size: 1rem;
}

.cart-right {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bolder;
}

.cart-right .bx {
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 8px;
}

.subtotal-div {
  display: flex;
  width: 100%;
  height: 10rem;
  border-top: 2px dashed #000;
  margin-top: 1rem;
  padding: 1.2rem 10px;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.sub-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 900;
}

.sub-left a {
  position: absolute;
  top: -35px;
  left: 82px;
  font-size: 1.5rem;
  color: #35bb78;
  border: 2px solid #35bb78;
  text-decoration: none;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  transition: all 0.2s;
  font-weight: 600;
}

.sub-left a:hover {
  background-color: #35bb78;
  color: #fff;
}

.sub-left {
  position: relative;
  padding-top: 2rem;
}

@media (max-width: 1200px) {
  header {
    padding: 15px 0%;
    transition: 0.2s;
  }

  .logo {
    height: 50px;
    width: 180px;
  }

  .navlist {
    margin-right: 10px;
  }

  .navlist a {
    margin: 0 -2px;
  }
  .header-icons {
    display: inline-flex;
  }

  header.sticky {
    padding: 14px 0%;
  }
  .reverse-inner-section,
  .inner-section {
    padding: 80px;
  }

  .reverse-flex,
  .flex {
    padding-inline: 90px;
  }
}

@media (max-width: 1100px) {
  .logo {
    margin-right: -20px;
  }

  .contact-head h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    white-space: normal;
  }

  .contact-text {
    font-size: 0.9rem;
    margin-left: 10px;
  }
  .contact-form {
    display: grid;
    margin-top: 1.9rem;
    column-gap: 0.8rem;
    row-gap: 0.6rem;
  }

  .contact-input {
    font-size: 0.8rem;
    padding: 1.5rem 1.2rem calc(0.75rem - 2px) 1.2rem;
  }

  .input-wrap label {
    font-size: 0.9rem;
    left: calc(1.2rem + 2px);
  }

  .input-wrap iconify-icon {
    font-size: 0.9rem;
    right: calc(1.2rem + 2px);
  }

  textarea.contact-input ~ label {
    top: 1.2rem;
  }

  textarea.contact-input ~ iconify-icon {
    top: 1.33rem;
  }

  .input-wrap.not-empty label {
    font-size: 0.6rem;
  }

  .contact-buttons {
    column-gap: 0.8rem;
    margin-top: 0.45rem;
  }

  .ct-btn-l,
  .ct-btn-r {
    padding: 1rem 1.5rem;
    font-size: 0.87rem;
  }

  .image-wrapper iframe {
    padding: 5px;
    width: 450px !important;
    height: 350px !important;
    top: 25%;
    left: 10%;
  }
  .reverse-about,
  .about {
    background-size: 100%;
    padding: 100px 40px;
  }
  .reverse-inner-section,
  .inner-section {
    width: 100%;
  }
  .reverse-flex,
  .flex {
    padding: 100px;
  }

  .product-header img {
    height: 100%;
    padding: 10px;
  }

  .container-content {
    grid-template-columns: 1fr;
  }

  .container-content-2 img {
    width: 40%;
  }
}

@media (min-width: 800px) and (max-width: 950px) {
  .logo {
    margin-right: -10px;
  }

  .product-header img {
    height: 180px;
    padding: 10px;
  }

  .image-wrapper iframe {
    padding: 5px;
    width: 350px !important;
    height: 350px !important;
    top: 25%;
    left: 15%;
  }
}

@media (max-width: 800px) {
  .grid-container {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "one two "
      "four four-low";
    grid-gap: 13px;
    gap: 13px;
  }

  .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .container-content-2 img {
    width: 45%;
  }

  .logo {
    margin-right: 170px;
  }
  #menu-icon {
    display: block;
    z-index: 999;
  }

  .header-icons {
    display: inline-flex;
    margin-top: 5px;
  }

  .header-icons a {
    margin-right: 30px;
  }

  .navlist {
    display: flex;
    flex-direction: column;
    width: 30rem;
    transition: all 0.4s ease;
    box-shadow: -12px 14px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height: 100vh;
    padding: 5rem;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1000;
  }

  .navlist a {
    font-size: 2.5rem;
    display: block;
    margin: 2rem 0;
    color: #000;
  }

  .open {
    right: 0;
  }

  .text-side {
    padding: 0 2rem;
  }

  .image-wrapper iframe {
    display: none;
  }

  .left {
    display: flex;
    justify-content: center;
  }
  .rev-ab-text,
  .ab-text {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .text-side {
    width: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .vid-side {
    display: none;
  }

  .logo {
    margin-right: 110px;
  }

  .register-container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 20px;
    width: 100%;
  }

  .gender-details .category {
    width: 100%;
    padding: 0 0;
  }

  .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .left {
    padding: 0 1.5rem 0;
  }
  .rev-ab-text,
  .about {
    padding: 0;
  }
  .reverse-inner-section,
  .inner-section {
    padding: 20px;
  }

  .cart-div {
    width: 100%;
  }

  .navlist {
    width: 70%;
  }
  .cart-btns {
    margin-bottom: 0;
  }

  .sub-left a {
    left: 128px;
    padding: 1rem 2rem;
  }
}

@media (max-width: 460px) {
  .main-description {
    bottom: 1rem;
    left: 1rem;
    font-size: 1rem;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }

  .logo {
    margin-right: 0;
  }

  .header-icons a {
    margin-right: 20px;
  }

  .text button {
    margin-left: 54px;
  }

  .contact-head h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .navlist {
    width: 80%;
    padding: 1rem;
  }

  .contact-text {
    font-size: 0.8rem;
  }

  .cart-item {
    grid-template-columns: 1fr;
    height: 100%;
    width: 90%;
  }

  .full-cart {
    align-items: center;
  }

  .cart-middle {
    align-items: center;
  }

  .product-header img {
    height: 100%;
  }

  .cart-right {
    flex-direction: row;
    text-align: center;
    padding-bottom: 4rem;
  }

  .cart-name {
    text-align: center;
  }

  .cart-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-img img {
    width: 90%;
    height: 90%;
  }

  .sub-left a {
    left: 34px;
    padding: 1rem 2rem;
  }
}

@media (max-width: 400px) {
  .main-description {
    bottom: 1rem;
    left: 1rem;
    font-size: 0.8rem;
  }
  .reverse-about,
  .about {
    background-size: 50%;
    padding: 100px 0;
  }
}
